/*  You can add global styles to this file, and also import other style files * */

body {
    background-image: url("src/assets/img/french-f.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header-container {
    padding-top: 5px;
    width: 100%;
    height: 48px;
    background: rgba(252, 174, 23, 0.64);
}

.center-button {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.button-desayuno {
    background: #fcae17;
}

.button-almuerzo {
    color: white;
    background: #293092;
}

.button-menu {
    font-size: 110%;
    cursor: pointer;
    outline: none;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    width: 70%
}

.button {
    font-size: 120%;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 36px;
    color: white;
    background: #293092;
    font: bold;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    width: 70%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: auto;
    height: 46px;
    display: flex;
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;
}

.dropdown {
    display: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 14%;
}

.dropdown-content a {
    color: black;
    padding: 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* card de products */

.wrapp-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 70%;
    height: 280px;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
    -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
}

.card .text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

.card-img-top {
    width: 53%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: auto;
}

.title {
    font-size: 140%;
    font-weight: 700;
}

.login-input {
    outline: none;
    background: rgba(179, 172, 172, 0.486);
    margin-bottom: 15px;
    height: 40px;
    padding: 0px;
    border-radius: 5px;
    border: 1px;
}

.ordenes {
    width: 40%;
}

.descripcion-producto {
    font-weight: 700;
    color: black;
}

.center-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.orders {
   
    width: 100%;
    height: min-content;
   
}

@media screen and (min-width: 540px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 30%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
    .button {
        padding: 19px 36px;
    }
    .center-button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .card {
        width: 48%;
        height: 250px;
        margin: 1%;
        border-radius: 10px;
        margin-bottom: 3%;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .ordenes {
        width: 10%;
    }
    .conteiner-menu {
        width: 54%;
    }
    .orders {
    
        width: 52%;
        margin-left: 3%;
        
    }
    .orders-responsive{
        height: min-content;
        
    }
}

@media screen and (min-width: 720px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 30%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
    .button {
        padding: 19px 36px;
    }
    .center-button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .button-menu {
        font-size: 110%;
        cursor: pointer;
        outline: none;
        margin: auto;
        margin-top: 2%;
        border-radius: 5px;
        width: 42%;
        -webkit-box-shadow: 0px 0px 7px -1px #007bff;
        -moz-box-shadow: 0px 0px 7px -1px #007bff;
        box-shadow: 0px 0px 7px -1px #007bff;
    }
    .button-desayuno {
        background: #007bff;
        color: #fff;
    }
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        width: 42%;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 46;
        display: flex;
        margin-bottom: 2%;
        border-radius: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 30%;
    }
    .card {
        width: 42%;
        height: 250px;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 3%;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .ordenes {
        width: 10%;
    }
    .conteiner-menu {
        width: 50%;
    }
    .orders {
  
        width: 54%;
        margin-left: 3%;
    }
 
}

@media screen and (min-width: 1100px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 70%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        background: rgba(179, 172, 172, 0.486);
        margin-bottom: 15px;
        height: 41px;
        padding: 0px;
        font-size: 100;
        border-radius: 5px;
        border: 1px;
    }
    .img-with {
        width: 114px;
        height: 111px;
    }
    .button {
        padding: 10px 36px;
    }
    .conteiner-menu {
        width: 55%;
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .button-menu {
        font-size: 110%;
        cursor: pointer;
        outline: none;
        margin: auto;
        margin-top: 2%;
        border-radius: 5px;
        width: 29%;
        border-width: 0.02px 0px 0px 0px;
        border-style: solid;
    }
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        width: 29%;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 46;
        display: flex;
        margin-bottom: 2%;
        border-radius: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 35%;
    }
    .card {
        width: 29%;
        height: 250px;
        margin: 1%;
        border-radius: 10px;
        display: flex;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .center-button {
        display: flex;
        justify-content: space-around;
    }
    .orders {
        
        width: 55%;
        
    }
    .orders-responsive{
        margin-top: 0px;
        background: white;
    }
}