/*  You can add global styles to this file, and also import other style files * */

body {
    background-image: url("src/assets/img/french-f.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header-container {
    padding-top: 5px;
    width: 100%;
    height: 48px;
    background: rgba(252, 174, 23, 0.64);
}

.center-button {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.button-desayuno {
    background: #fcae17;
}

.button-almuerzo {
    color: white;
    background: #293092;
}

.button-menu {
    padding: 10px 36px;
    font-size: 110%;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    margin: auto;
    margin-top: 2%;
}

.button {
    font-size: 120%;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 36px;
    color: white;
    background: #293092;
    font: bold;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}


/* card de products */

.wrapp-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 70%;
    height: 280px;
    margin: auto;
    margin-bottom: 3%;
    -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
    -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
}

.card .text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

.card-img-top {
    width: 53%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: auto;
}

.title {
    font-size: 140%;
    font-weight: 700;
}

.login-input {
    outline: none;
    background: rgba(179, 172, 172, 0.486);
    margin-bottom: 15px;
    height: 40px;
    padding: 0px;
    border-radius: 5px;
    border: 1px;
}

.ordenes {
    width: 40%;
}

.descripcion-producto {
    font-weight: 700;
    color: black;
}

.center-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.orders {
    border: 1px solid;
    width: 100%;
}

@media screen and (min-width: 540px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 30%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
    .button {
        padding: 19px 36px;
    }
    .center-button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .card {
        width: 48%;
        height: 250px;
        margin: 1%;
        margin-bottom: 3%;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .ordenes {
        width: 10%;
    }
    .conteiner-menu {
        width: 54%;
    }
    .orders {
        border: 1px solid;
        width: 52%;
        margin-left: 3%;
    }
}

@media screen and (min-width: 720px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 30%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
    .button {
        padding: 19px 36px;
    }
    .center-button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .card {
        width: 48%;
        height: 250px;
        margin: 1%;
        margin-bottom: 3%;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .ordenes {
        width: 10%;
    }
    .conteiner-menu {
        width: 54%;
    }
    .orders {
        border: 1px solid;
        width: 52%;
        margin-left: 3%;
    }
}

@media screen and (min-width: 1100px) {
    .main {
        display: flex;
        margin: 2%;
        justify-content: space-between;
    }
    .log {
        width: 70%;
        margin-top: 10%;
    }
    .login-input {
        outline: none;
        background: rgba(179, 172, 172, 0.486);
        margin-bottom: 15px;
        height: 41px;
        padding: 0px;
        font-size: 100;
        border-radius: 5px;
        border: 1px;
    }
    .img-with {
        width: 114px;
        height: 111px;
    }
    .button {
        padding: 10px 36px;
    }
    .conteiner-menu {
        width: 55%;
    }
    .wrapp-flex {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .card {
        width: 31%;
        height: 260px;
        margin: 1%;
        border-radius: 10px;
        display: flex;
        -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
        -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
        box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    }
    .center-button {
        display: flex;
        justify-content: space-around;
    }
    .orders {
        border: 1px solid;
        width: 45%;
        margin-left: 0;
    }
}