<section class="orders-responsive">
  <div class="client-secction">
    <div class="">
      <h5 class="text-center">
        Cliente
      </h5>
      <input
        type="text"
        class="client-input"
        placeholder=""
        aria-label="Example text with button addon"
        aria-describedby="MaterialButton-addon1"
      />
    </div>
  </div>

  <div
    class="main section-orders row"
    *ngFor="let product of orderProduct; let idx = index"
  >
    <div
      class="margin-product col-4 col-sm-5 col-xs-3 col-md-3 col-lg-4 col-xl-3"
    >
      {{ orderProduct[idx].name }}
    </div>
    <div
      class="margin-product col-2 col-sm-3 col-xs-3 col-md-1 col-lg-1 col-xl-2"
    >
      {{ orderProduct[idx].price }}$
    </div>
    <div
      class="margin-product col-2 col-sm-3 col-xs-3 col-md-2 col-lg-1 col-xl-2"
    >
      <p class="text">{{ orderProduct[idx].price * lstPedido[idx].qty }}$</p>
    </div>
    <div
      class=" col-2 col-sm-5 col-xs-3 col-md-2 col-lg-3 col-xl-4 button-icon"
    >
      <button class="icon less-icon" (click)="decrementQuantity(idx)"></button>
      <p class="margin-p">{{ lstPedido[idx].qty }}</p>
      <button class="icon  add-icon " (click)="incrementQuantity(idx)"></button>
    </div>
    <div
      class=" margin-product col-2 col-sm-5 col-xs-3 col-md-2 col-lg-2 col-xl-1"
    >
      <button class="icon delete-icon" (click)="deleteproduct(idx)"></button>
    </div>
  </div>

  <div class="total-datails"><strong>Total:{{ total }}</strong></div>
  

  <div class="main center-button">
    <button (click)="sendToKitchen(nameClient)" class="button ">
      ENVIAR A COCINA
    </button>
  </div>
</section>
