.title {
    font-size: 140%;
    font-weight: 700;
}

.login-input {
    outline: none;
    background: rgba(179, 172, 172, 0.486);
    margin-bottom: 15px;
    height: 40px;
    padding: 0px;
    border-radius: 5px;
    border: 1px;
}

@media screen and (min-width: 540px) {
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
}

@media screen and (min-width: 720px) {
    .login-input {
        outline: none;
        margin-bottom: 15px;
        height: 55px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
}

@media screen and (min-width: 1100px) {
    .login-input {
        outline: none;
        background: rgba(179, 172, 172, 0.486);
        margin-bottom: 15px;
        height: 41px;
        padding: 0px;
        font-size: 100;
        border-radius: 5px;
        border: 1px;
    }
}