<header class="header-container  navbar-expand-lg navbar-light ">

    <div class="width-nav navbar-brand">
        <img class="letter " src="assets/img/letter.png" alt="">
        <img class="burguer " src="assets/img/hambur-trans.png" alt="">
    </div>
    <nav class="nav-menu collapse navbar-collapse" id="navbarNavAltMarkup">
        <div *ngIf="viewOrder" class="menu-nav center" [routerLink]="['view-orders']">Ver Órdenes</div>
        <div *ngIf="home" class="menu-nav center" [routerLink]="['/home']">Realizar Pedidos</div>
        <div class="menu-nav " (click)="getOut()">Cerrar sesión</div>

    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

</header>