<div class="container ">

    <section class="row justify-content-md-center">
        <article class="full-logo col-xs-12 col-sm-10 col-md-7 ">
            <img class="imagen-logo" src="assets/img/logo.jpg">
 
        </article>
        <aside class=" components-login col-xs-12 col-sm-2 col-md-5">
            <form (ngSubmit)= "loguear(forma)" #forma="ngForm" novalidate="">
            <p class="text">Bienvenidxs Colaboradorxs</p>
            <input class="login-input" id="email-login" type="email" placeholder="Email" name="email" ngModel required>
            <input class="login-input" id="password-login" type="password" placeholder="Password" name="password" ngModel required>
            <a > <button type="submit" class="button" id="log-in">Ingresa</button></a>
            <!-- <a [routerLink]="['/home']"> <button class="button" id="log-in">Ingresa</button></a> -->
        </form>
        </aside>
    </section>
 </div>