.container {
    width: 290px;
    height: 312px;
}

.log {
    width: 30%;
    height: 75%;
    margin-top: 10%;
}

.button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 36px;
    background: #293092;
    font: bold;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.text {
    text-align: center;
    font-family: 'PT Serif', serif;
}

.title {
    font-size: 130%;
}

.login-input {
    outline: none;
   
    margin-bottom: 15px;
    height: 7%;
    padding: 0px;
    border-radius: 5px;
    border: 1px;
}

.formu {
    padding: 4%;
    width: 722px;
    height: 340px;
    background: rgba(249, 236, 206, 0.93);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
}

.margin-rigth {
    padding-right: 0%;
}

@media screen and (min-width:540px) {
    .log {
        width: 45%;
        margin-top: 10%;
    }
    .container {
        width: 420px;
        height: 337px;
    }
    .formu {
        padding: 4%;
        width: 832px;
        height: 340px;
        background: rgba(249, 236, 206, 0.93);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
    }
}

@media screen and (min-width: 720px) {
    .log {
        width: 23%;
        height: 63%;
        margin-top: 10%;
    }
    .container {
        width: 832px;
        height: 397px;
    }
    .formu {
        padding: 4%;
        width: 832px;
        height: 340px;
        background: rgba(249, 236, 206, 0.93);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
    }
    .login-input {
        outline: none;
        background: rgba(179, 172, 172, 0.486);
        margin-bottom: 15px;
        height: 75px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
}

@media screen and (min-width: 1000px) {
    .log {
        width: 15%;
        height: 60%;
        margin-top: 10%;
    }
    .container {
        width: 832px;
        height: 397px;
    }
    .formu {
        padding: 4%;
        width: 832px;
        height: 340px;
        background: rgba(249, 236, 206, 0.93);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
    }
    .login-input {
        outline: none;
        background: rgba(179, 172, 172, 0.486);
        margin-bottom: 15px;
        height: 75px;
        padding: 0px;
        border-radius: 5px;
        border: 1px;
    }
}