<section class="">
    <div>
        <div class="dropdown">
            <button class="dropbtn text">Menú</button>
            <div class="dropdown-content">
                <a (click)="mostrar = false">Desayuno</a>
                <a (click)="mostrar = true">Almuerzo</a>
            </div>
        </div>
        <!--  <button type="button" class="btn btn-outline-primary button-menu " (click)="mostrar = false">Desayuno</button>
        <button type="button" class="btn btn-outline-primary button-menu" (click)="mostrar = true">Almuerzo </button>-->
    </div>
    <div class="main wrapp-flex">
        <ng-container *ngIf="!mostrar">
            <div class="card" (click)=" selectedProduct(product)" *ngFor=" let product of desayuno ">
                <img class="card-img-top img-with " [src]="product.image " [alt]="product.nombre ">
                <p class="text p-card descripcion-producto ">{{product.name}}</p>
                <p class="text price">S/.{{product.price}}.00 </p>


            </div>

        </ng-container>

        <ng-container *ngIf="mostrar ">
            <div class="card " (click)=" selectedProduct(product) " *ngFor="let product of almuerzo ">
                <img class="card-img-top img-with " [src]="product.image " [alt]="product.nombre ">
                <p class="text p-card descripcion-producto ">{{product.name}}</p>
                <p class="text price "> S/.{{product.price}}.00</p>

            </div>
        </ng-container>
    </div>
</section>