.p-card {
    padding: 0;
    margin: 5px;
}

.price {
    border-color: rgb(207, 210, 212);
    border-width: 0.02px 0px 0px 0px;
    border-style: solid;
}
.nav-link{
    color:black;
}

.nav-link.active .item{
    background-color:#929eaa4f;
}
.nav-link.active {
    color: #EE1D23;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}