.view-orders {
    display: flex
}

.cards-orders {
    margin: 1%;
    background: #fff;
    width: 30%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -1px rgb(161, 155, 161);
    -moz-box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    box-shadow: 0px 0px 7px -1px rgba(189, 178, 189, 1);
    text-align: center;
}

.client {
    display: flex;
    background: rgba(252, 174, 23, 0.64);
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
}

.states {
    width: 94%;
    color: white;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    border: none;
    margin: 3%;
    padding-inline-start: 40%;
    text-align: center;
    border-radius: 6px;
    background: red;
    outline: none;
}
.item-margin {
 margin:4px;
}

.view-order-product {
    border-color: rgb(207, 210, 212);
    border-width: 0px 0px 0.02px 0px;
    border-style: solid;
}



@media screen and (min-width: 540px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 1100px) {}